.Target {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 255, 255, 0.3);
  border-radius: 50%;
  background: linear-gradient(45deg, 
  rgba(0, 255, 255) 0%,
  rgb(0, 255, 255) 60%,
  rgb(255, 255, 255) 95%,   
  rgb(255, 255, 255) 100%);
  box-shadow: 0px 15px 25px 5px rgba(0, 0, 0, 0.3);
  cursor: url('../../../../assets/crosshair.svg'), crosshair;
}